<nav>
  <div class="container nav-wrapper">
    <a href="#!" class="brand-logo">MyBlog</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#!">Home</a></li>
      <li><a href="/post">Posts</a></li>
      <li><a href="#!">Content</a></li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a href="#!">Home</a></li>
  <li><a href="#!">Posts</a></li>
  <li><a href="#!">Content</a></li>
</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>
